<h2>Add a room</h2>
<form action="/rooms" method="POST"\>
  <label for="name">Name</label> 
  <input id="name" type="text" name="name">
  
  <label for="description">Description</label> 
  <input id="description" type="text" name="description">
  
  <button type="submit">Add</button>
</form>