<nav id="nav-container">
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
  <a href="/rooms">Show Rooms</a>
</nav>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    {{#if message}}
    <h2 class="success-message">{{message}}</h2>
    {{/if}}
</div>